.app__barber-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.app__barber-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__barber-content_quote img {
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app__barber-sign {
    width: 100%;
    margin-top: 0.5rem;
}

.app__barber-sign p:first-child {
    font-family: var(--font-cursive);
    font-weight: 400;
    font-size: 30px;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-grey);
}

.app__barber-sign img {
    width: 300px;
    margin-top: 3rem;
}

.barber__padding {
  padding: 0 4rem 0 1.5rem;
}

@media screen and (min-width: 2000px) {
    .app__barber-sign img {
        width: 400px;
    }
}

@media screen and (max-width: 1075px) {
    .barber__padding {
        padding: 6.5rem 6rem;
    }
}

@media screen and (max-width: 850px) {
    .barber__padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .barber__padding {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 450px) {
    .barber__padding {
        padding: 6rem 1rem;
    }

    .app__barber-sign img {
        width: 80%;
    }
}