.app__video {
    background-color: var(--color-black);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.app__video video {
    width: auto;
    height: 100%;
    max-height: 80vh;
    object-fit: cover;
    padding: 4rem;
}

.app__video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

.app__video-overlay svg {
    color: var(--color-white);
}


.app__video-overlay_radius {
    cursor: pointer;
}

.app__insta_vid {
    max-height: 70vh;
    margin: auto;
    display: block;
}

.video__container {
    position: relative;   /* ✅ makes this the reference point */
    display: inline-block;
}

@media (max-width: 1100px) {
  .app__video video {
    width: auto;
    height: 100%;
    padding: 2rem;
  }
}